
@{
    ViewBag.Title = "PantInicial";
}

<h2>PantInicial</h2>

<div id="botones">
    <p>@Html.ActionLink("Ver Categorías", "Index", "Categorias", null, new { @class = "btn btn-success" })</p>
    <p>@Html.ActionLink("Ver Componentes", "Index", "Componentes", null, new { @class = "btn btn-success" })</p>
</div>

@section miJS
{
    <script src="~/Scripts/miJS.js"></script>
}